name: publish to nuget
on:
  push:
    branches:
      - main # Default release branch, may also be named 'master' or 'develop'
jobs:
  publish:
    name: build, pack & publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # - name: Setup dotnet
      #   uses: actions/setup-dotnet@v1
      #   with:
      #     dotnet-version: 3.1.200

      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: dotnet build --configuration Release
      - name: register github packages
        run: dotnet nuget add source --username Spoomer --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/Spoomer/index.json"
      - name: push nuget
        run: dotnet nuget push "ExtensibleWorkerService.WorkerSDK/bin/Release/ExtensibleWorkerService.WorkerSDK.*.nupkg"  --source "github"
